body{
    font-family: 'Open Sans';
    margin: 0px;;
    padding: 0px;
    text-align: center;
}

.main-header{
    background-color: black;
    color: #197FEB;
}

.content{
    border: solid;
}

.contacto{
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.final{
    text-align: end;
}