body{
    font-family: 'Open Sans';
    padding: 0px;
    margin: 0px;
    background-color: rgba(218, 218, 218, 0.918);
    color: white;
    text-align: center;
}



h2{
    padding: 50px;
}

p{  
    border: solid;
    padding: 80px;
    background-color: white;
    color: black;
    font-size: 25px;
}

 